In [1]:
import itertools
from collections import defaultdict

def permutation_and_h(n):
    h_dict=defaultdict(int)
    init_list= list(range(1,n+1))
    res_list= list(map(lambda x: sum(abs(x[i]-x[i-1])>1 for i in range(1,len(x))), [list(x)for x in itertools.permutations(init_list)]))
    for i in res_list:
        h_dict[i]+=1

    total_h= sum(h_dict.values())        
    for i in range(0,n+1):
        if i >=1:
            h_dict[i]+=h_dict[i-1]
    for i in range(0,n+1):
        h_dict[i]=h_dict[i]/total_h
    return h_dict



def calcalute_KRE(d,problem_size):
    p=all_dict_h[problem_size]
    b=problem_size-1
    sum_res=0
    for i in range(0,d+1):
        sum_res+=b**i*p[d-i]
    return sum_res

In [ ]:
# from pandarallel import pandarallel
# pandarallel.initialize(progress_bar=True)
# from multiprocesspandas import applyparallel

import pandas as pd 
#read csv 
df_res = pd.read_csv('pancake_results_24.csv')


def helper(x):
    return calcalute_KRE(x["optimal_cost"],x["problem_size"])
all_dict_h={}
for problem_size in df_res.problem_size.unique():
    all_dict_h[problem_size]=permutation_and_h(problem_size)
# df_res["pred_KRE"]= df_res.progress_apply(helper,axis=1,num_processes=8)

In [ ]:
df_res["pred_KRE"]= df_res.progress_apply(helper,axis=1,num_processes=8)

In [ ]:
df_res.sort_values(by=['optimal_cost'],inplace=True)
df_res

,start,problem_size,bound,optimal_cost,cost,states generated,algorithm,pred_KRE
20,"(3, 8, 2, 1, 7, 4, 5, 6)",8,0,5,5,154,IDA*,11.819593
3,"(4, 6, 5, 8, 7, 3, 2, 1)",8,0,5,5,285,IDA*,11.819593
4,"(1, 7, 6, 5, 3, 2, 4, 8)",8,0,5,5,64,IDA*,11.819593
8,"(5, 1, 4, 3, 6, 7, 2, 8)",8,0,5,5,35,IDA*,11.819593
0,"(8, 6, 7, 4, 3, 5, 1, 2)",8,0,6,6,499,IDA*,83.607143
22,"(5, 1, 4, 3, 8, 7, 6, 2)",8,0,6,6,577,IDA*,83.607143
18,"(1, 4, 5, 6, 3, 2, 8, 7)",8,0,6,6,689,IDA*,83.607143
17,"(6, 2, 5, 4, 7, 3, 1, 8)",8,0,6,6,43,IDA*,83.607143
9,"(7, 5, 4, 1, 3, 2, 8, 6)",8,0,6,6,293,IDA*,83.607143
10,"(6, 1, 3, 4, 7, 8, 5, 2)",8,0,6,6,156,IDA*,83.607143
11,"(2, 6, 5, 4, 3, 8, 7, 1)",8,0,6,6,735,IDA*,83.607143
16,"(3, 6, 4, 5, 8, 2, 1, 7)",8,0,6,6,331,IDA*,83.607143
19,"(3, 2, 7, 1, 8, 5, 6, 4)",8,0,7,7,1014,IDA*,586.250000
15,"(6, 7, 1, 5, 4, 2, 8, 3)",8,0,7,7,567,IDA*,586.250000
24,"(2, 5, 1, 8, 7, 4, 3, 6)",8,0,7,7,917,IDA*,586.250000
13,"(5, 3, 8, 2, 1, 7, 4, 6)",8,0,7,7,741,IDA*,586.250000
23,"(6, 5, 3, 1, 8, 7, 2, 4)",8,0,7,7,338,IDA*,586.250000
7,"(3, 2, 6, 8, 1, 5, 7, 4)",8,0,7,7,398,IDA*,586.250000
5,"(6, 4, 1, 7, 3, 2, 8, 5)",8,0,7,7,507,IDA*,586.250000
1,"(7, 4, 2, 1, 8, 6, 3, 5)",8,0,7,7,693,IDA*,586.250000
6,"(3, 6, 2, 5, 7, 1, 4, 8)",8,0,8,8,143,IDA*,4104.750000
2,"(1, 3, 5, 4, 6, 2, 8, 7)",8,0,8,8,4258,IDA*,4104.750000
21,"(3, 7, 5, 2, 8, 1, 4, 6)",8,0,8,8,458,IDA*,4104.750000
14,"(1, 4, 7, 6, 3, 8, 2, 5)",8,0,8,8,847,IDA*,4104.750000
12,"(6, 1, 4, 5, 8, 3, 7, 2)",8,0,8,8,749,IDA*,4104.750000

In [ ]:
from flip_pancake import pancake_neighbours
import ast


def h(state):
    return sum(abs(state[i]-state[i-1])>1 for i in range(1,len(state)))

def condisinal_h(n):
    dict_h={}
    init_list= list(range(1,n+1))
    for i in range (n):
        dict_h[i]=defaultdict(int)
    state_list= [list(x)for x in itertools.permutations(init_list)]
    for state in state_list:
        h_state=h(state)
        for neighbor in pancake_neighbours(state):
            neighbor=neighbor[1]
            h_neighbor= h(neighbor)
            dict_h[h_state][h_neighbor]+=1
    for key in dict_h.keys():
        total=sum(dict_h[key].values())
        for key2 in dict_h[key].keys():
            dict_h[key][key2]=dict_h[key][key2]/total
    return dict_h

all_dict_condisonal_h={}
for problem_size in df_res.problem_size.unique():
    all_dict_condisonal_h[problem_size]=condisinal_h(problem_size)


def calcalute_CDP(s,d):
    sum_res=0
    for i in range (0,d+1):
        for v in range (0,d-i+1):
            sum_res+=calcalute_CDP_helper(i,s,v,d)
    return sum_res


def calcalute_CDP_helper(i,s,v,d):
    state_h=h(s)
    b=len(s)-1
    problem_size=len(s)
    local_dict=all_dict_condisonal_h[problem_size]
    
    if i==0 and v==state_h:
        return 1 
    if i==0 and v!=state_h:
        return 0
    else:
        sum_res=0
        for v_p in range (0,d-(i-1)+1):
            try:
                if state_h not in local_dict:
                    p=0
                else:
                    p=local_dict[state_h][v_p]
            except keyError:
                p=0
            sum_res+=calcalute_CDP_helper(i-1,s,v_p,d)*b*p #Todo: check the order of the dict
    return sum_res

calcalute_CDP(ast.literal_eval(df_res.iloc[0]["start"]),df_res.iloc[0]["optimal_cost"])
        # for neighbor in pancake_neighbours(s):
        #     neighbor=neighbor[1]
        #     sum_res+=calcalute_CDP_helper(i-1,neighbor,v)
        # return sum_res




df_res["pred_CDP"]= df_res.apply(lambda x: calcalute_CDP(ast.literal_eval(x["start"]),x["optimal_cost"]),axis=1)

In [ ]:
df_res

,start,problem_size,bound,optimal_cost,cost,states generated,algorithm,pred_KRE,pred_CDP
20,"(3, 8, 2, 1, 7, 4, 5, 6)",8,0,5,5,154,IDA*,11.819593,147.699427
3,"(4, 6, 5, 8, 7, 3, 2, 1)",8,0,5,5,285,IDA*,11.819593,533.037892
4,"(1, 7, 6, 5, 3, 2, 4, 8)",8,0,5,5,64,IDA*,11.819593,147.699427
8,"(5, 1, 4, 3, 6, 7, 2, 8)",8,0,5,5,35,IDA*,11.819593,43.555652
0,"(8, 6, 7, 4, 3, 5, 1, 2)",8,0,6,6,499,IDA*,83.607143,1051.514217
22,"(5, 1, 4, 3, 8, 7, 6, 2)",8,0,6,6,577,IDA*,83.607143,1051.514217
18,"(1, 4, 5, 6, 3, 2, 8, 7)",8,0,6,6,689,IDA*,83.607143,3745.918562
17,"(6, 2, 5, 4, 7, 3, 1, 8)",8,0,6,6,43,IDA*,83.607143,65.287485
9,"(7, 5, 4, 1, 3, 2, 8, 6)",8,0,6,6,293,IDA*,83.607143,262.230783
10,"(6, 1, 3, 4, 7, 8, 5, 2)",8,0,6,6,156,IDA*,83.607143,262.230783
11,"(2, 6, 5, 4, 3, 8, 7, 1)",8,0,6,6,735,IDA*,83.607143,3745.918562
16,"(3, 6, 4, 5, 8, 2, 1, 7)",8,0,6,6,331,IDA*,83.607143,262.230783
19,"(3, 2, 7, 1, 8, 5, 6, 4)",8,0,7,7,1014,IDA*,586.250000,1859.815853
15,"(6, 7, 1, 5, 4, 2, 8, 3)",8,0,7,7,567,IDA*,586.250000,1859.815853
24,"(2, 5, 1, 8, 7, 4, 3, 6)",8,0,7,7,917,IDA*,586.250000,1859.815853
13,"(5, 3, 8, 2, 1, 7, 4, 6)",8,0,7,7,741,IDA*,586.250000,435.788863
23,"(6, 5, 3, 1, 8, 7, 2, 4)",8,0,7,7,338,IDA*,586.250000,1859.815853
7,"(3, 2, 6, 8, 1, 5, 7, 4)",8,0,7,7,398,IDA*,586.250000,435.788863
5,"(6, 4, 1, 7, 3, 2, 8, 5)",8,0,7,7,507,IDA*,586.250000,435.788863
1,"(7, 4, 2, 1, 8, 6, 3, 5)",8,0,7,7,693,IDA*,586.250000,435.788863
6,"(3, 6, 2, 5, 7, 1, 4, 8)",8,0,8,8,143,IDA*,4104.750000,689.074452
2,"(1, 3, 5, 4, 6, 2, 8, 7)",8,0,8,8,4258,IDA*,4104.750000,13047.225682
21,"(3, 7, 5, 2, 8, 1, 4, 6)",8,0,8,8,458,IDA*,4104.750000,689.074452
14,"(1, 4, 7, 6, 3, 8, 2, 5)",8,0,8,8,847,IDA*,4104.750000,3082.360226
12,"(6, 1, 4, 5, 8, 3, 7, 2)",8,0,8,8,749,IDA*,4104.750000,3082.360226

In [ ]:
dict_h[v_p][state_h]